.discountContainer {
  width: 100%;
  margin: 1em 0em;
  display: flex;
  flex-direction: column;
}

.editTable {
  color: white;
  font-size: 0.9rem;
  font-weight: 400;
  width: 100%;
  margin: auto;
}

.discountsAppliedContainer {
  width: 100%;
  margin: 1em auto;
}

.discountApplied {
  display: flex;
  justify-content: space-between;
  margin: 1em auto;
}

.buttonContainer {
  text-align: center;
}
