.table {
  color: #ffffff;
  font-size: 0.7rem;
  width: 100%;
  display: table;
  border-spacing: 0;
  border-collapse: collapse;
}

.table tbody {
  display: table-row-group;
}

.table tr {
  color: inherit;
  height: 30px;
  display: table-row;
  outline: none;
  vertical-align: middle;
}
