.container {
  display: flex;
  flex-direction: row;
}

@media (max-width: 680px) {
  .container {
    flex-wrap: wrap;
  }
  .customerDetails {
    margin: 1rem 0rem;
  }
  .customerTable {
    margin: 1rem 0rem;
  }
}

@media (min-width: 680px) {
  .customerDetails {
    margin: 1rem;
  }
  .customerTable {
    margin: 1rem;
    max-width: 25rem;
  }
}

.customerTable {
  flex-grow: 1;
  flex-basis: 20%;
}

.customerDetails {
  flex-grow: 1;
}
.table {
  color: #ffffff;
  font-size: 0.9rem;
  width: 100%;
  display: table;
  border-spacing: 0;
  border-collapse: collapse;
}

.table tbody {
  display: table-row-group;
}

.table tr {
  color: inherit;
  height: 30px;
  display: table-row;
  outline: none;
  vertical-align: middle;
}

.paddingTop {
  padding-top: 2rem;
}

.subHeading {
  padding: 2rem 0rem 0.5rem 0rem;
}

.inventorySubHeading {
  padding: 6.5rem 0rem 0.5rem 0rem;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.inventoryContainer {
  flex-basis: 50%;
}

.formContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #424242;
  max-width: 100%;
  justify-content: center;
  min-height: 10rem;
}

.actions {
  max-width: 25rem;
}

.customerName {
  padding-bottom: 2rem;
}

.search {
  display: flex;
  flex-direction: row;
}

.searchIcon {
  font-size: 1.1rem;
  margin-top: 1.5rem;
  pointer-events: none;
  color: #ffffff;
  margin-left: -1rem;
}

.customers {
  padding: 1rem;
}

.labelText {
  color: rgba(255, 255, 255, 0.7);
}
