body,
#app {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  background-color: #303030;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: underline;
}
