.categoryContainer {
  margin: 20px 10px;
  min-width: 180px;
}

.searchIcon {
  font-size: 1.1rem;
  margin-top: 25px;
  position: absolute;
  pointer-events: none;
  color: #ffffff;
}

.searchInput {
  padding-left: 20px;
}

.body {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

@media (max-width: 680px) {
  .body {
    flex-wrap: wrap;
  }
  .productsContainer {
    margin: 1rem 0rem;
  }
  .searchContainer {
    margin: 1rem 0rem;
  }
}

@media (min-width: 680px) {
  .productsContainer {
    margin: 1rem;
  }
  .searchContainer {
    margin: 1rem;
  }
}

.searchContainer {
  flex-grow: 1;
  flex-basis: 30%;
}

.productsContainer {
  flex-grow: 1;
}

.sales {
  margin: 1rem;
}

.results {
  display: flex;
  flex-direction: column;
  width: 20rem;
}

.transition {
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.column {
  display: flex;
  flex-direction: column;
}

.result {
  cursor: pointer;
  display: block;
  overflow: hidden;
  font-size: 0.9rem;
  font-weight: 400;
  padding: 0.85714286em 1.14285714em;
  line-height: 1.33;
  border-bottom: 1px solid rgba(81, 81, 81, 1);
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: #424242;
}

.result:last-child {
  border-bottom: none;
}

.result:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.description {
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.75rem;
}

.price {
  float: right;
  color: #21ba45;
}

img {
  width: 40px;
}

.searchWrapper {
  margin: 0px 20px;
}

.row {
  cursor: pointer;
}

.row:hover {
  background-color: rgba(255, 255, 255, 0.14);
}

.row.selectedRow {
  /* background-color: rgba(255, 255, 255, 0.08); */
  background-color: #52b202;
}

.categoryContainer {
  display: flex;
}

.categoryResults {
  flex-basis: 50%;
  margin-left: 1rem;
  margin-top: 1rem;
}

.categoryNav {
  flex-basis: 50%;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/* [class*="MuiTableCell-body"] {
  color: inherit !important;
} */
