.formContainer {
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

.fullWidth {
  width: 100%;
}

.container {
  width: auto;
  margin: auto;
}

@media (min-width: 700px) {
  .container {
    width: 650px;
  }
}

.buttonContainer {
  text-align: center;
}
