.formContainer {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.discounts {
  flex-grow: 1;
  flex-basis: 60%;
}

.newDiscount {
  flex-grow: 1;
}

.space {
  margin: 1.4rem;
}
