.searchWrapper {
  margin: 0px 16px;
  width: 230px;
}

.searchIcon {
  font-size: 1.1rem;
  margin-top: 1.5rem;
  pointer-events: none;
  color: #ffffff;
  margin-left: -1rem;
}

.search {
  display: flex;
  flex-direction: row;
}

.result {
  cursor: pointer;
  display: block;
  overflow: hidden;
  font-size: 0.9rem;
  font-weight: 400;
  padding: 0.85714286em 1.14285714em;
  line-height: 1.33;
  border-bottom: 1px solid rgba(81, 81, 81, 1);
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: #424242;
}

.result:last-child {
  border-bottom: none;
}

.result:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.results {
  display: flex;
  flex-direction: column;
  width: 20rem;
}
