.body {
  width: auto;
  display: block;
  margin-top: 5rem;
  padding: 16px 24px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 448px) {
  .body {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
  }
}

.loginForm {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  margin: auto;
  background-color: rgb(225, 0, 80) !important;
}
