.editContainer {
  display: flex;
  flex-direction: column;
}

.buttonContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.editTable {
  color: white;
  font-size: 0.9rem;
  font-weight: 400;
  width: 100%;
  margin: 1em 0em;
}

.editTableCell {
  padding: 0.4rem;
}

.editTableCellFixedWidth {
  padding: 0.4rem;
  width: 5rem;
}

.container {
  background-color: rgba(255, 255, 255, 0.08);
}
